body {
  margin: 10%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MemeList {
  margin: auto;
  width: 90%;
}

.Meme {
  display: grid;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  outline-style: double;
}

.Memeimg{
  margin: auto;
  width: 90%;
  height: 90%;
  text-align: center;
  padding: 15px;
}
.Over_18 {
  outline-style: dashed;
  outline-color: crimson;

}